@font-face {
  src: url("../../fonts/Helvetica.ttf");
  font-family: "Helvetica";
}

@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}

/* Variables de fuente*/
/*Breakpoints*/
/*seccion del footer*/
.footer-blog {
  width: auto;
  height: auto;
  background-color: #316099;
  margin-right: 5.8em;
  border-top-right-radius: 200px;
}

.description-footer-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-footer-blog .description-footer {
  width: 40%;
  padding: 3em 0;
}

.description-footer-blog .description-footer .description-title-footer {
  color: #ffffff;
  font-size: 1.8em;
  margin-bottom: 2em;
  font-weight: lighter;
}

.description-footer-blog .description-footer .description-subtitle-footer {
  color: #ffffff;
  font-size: 1em;
}

.container-btn {
  width: 20%;
}

.btn {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-size: 1em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.btn.primary {
  background-color: #5a98d0;
  color: #ffffff;
}

.btn.primary:hover {
  background-color: #98c3e8;
  color: #222222;
}

.footer-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 40px;
  margin-top: 2em;
  position: relative;
}

.footer-items .contact-footer {
  width: 100%;
  height: auto;
}

.footer-items .contact-footer .header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.header-footer .circle.one {
  background-color: #98c3e8;
}

.header-footer .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1.5em;
}

.contact-information {
  height: auto;
}

.title-company-footer,
.footer-about,
.footer-follow {
  color: #ffffff;
}

.title-company-footer {
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-about,
.footer-follow {
  font-size: 1.3em;
}

.contact {
  margin-bottom: 1.5em;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact span {
  margin-right: 20px;
}

.contact-information a {
  display: block;
  margin-bottom: 1em;
  color: #ffffff;
}

.copy-reserved {
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.copy-reserved .copy-reserved-text {
  color: #ffffff;
  opacity: 0.4;
}
/*# sourceMappingURL=footer.css.map */